@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"),
    url("../fonts/fraunces-v24-latin-900.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/barlow-v12-latin-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"),
    url("../fonts/barlow-v12-latin-700.woff") format("woff");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #f2f2f2;
}

/* site header style  */

.site-header {
  padding: 44px 0;
}

.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo-img {
  display: flex;
}

.site-header__list {
  display: flex;
  align-items: center;
}

.site-header__item + .site-header__item {
  margin-left: 33px;
}

.site-header__link {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888f;
}

.site-header__link:hover {
  color: #333d4b;
}

/* main style  */

/* hero section style  */

.hero-section {
  padding: 0 0 0px 0;
}

.hero__wrapper {
  background-image: url("../img/hero-bi.png");
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 8px;
}

.hero__content {
  width: 577px;
  padding: 69px 0 116px 86px;
}

.hero__title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;

  color: #fefcf7;
}

.hero__text-wrapper {
  width: 444px;
}

.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 56px;
  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__link {
  font-family: "Fraunces 9", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  padding: 15px 31px;
  background: #0e8784;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.4s ease;

  color: #fefcf7;
}

.hero__link:hover {
  background: #66d2cf;
}

.hero__link:active {
  background: #e2dedb;
}

/* type section style  */

.type-section {
  padding: 0 0 188px 0;
}

.type__wrapper {
  width: 1111px;
  margin: 0 auto;
}

.type__list {
  padding-top: 136px;
  display: flex;
  align-items: center;
  background-image: url("../img/type-bi-img.png");
  background-repeat: no-repeat;
  background-position-y: top;
}

.type__item + .type__item {
  margin-left: 30px;
}

.type__item-wrapper {
  text-align: center;
  width: 246px;
}

.type__image {
  display: flex;
  margin-bottom: 71px;
}

.type__item-title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  color: #333d4b;
}

.type__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #333d4b;
}

/* info section style  */

.info__wrapper {
  width: 1280px;
  height: 577px;
  background-color: #2c343e;
  border-radius: 10px;
  margin-bottom: 351px;
}

.info__title-wrapper {
  width: 540px;
  margin: 0 auto;
  text-align: center;
}

.info__title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  padding-top: 112px;
  padding-bottom: 32px;
  color: #fefcf7;
}

.info__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 86px;
  color: #fefcf7;

  opacity: 0.8;
}

.info__list-wrapper {
  width: 1110px;
  margin: 0 auto;
}

.info__list {
  display: flex;
  align-items: center;
}

.info__item {
  position: relative;
  width: 350px;
  background-color: #0e8784;
  border-radius: 8px;
  padding: 0 48px 48px 47px;
  height: 382px;
  margin-left: 30px;
}

.info__item:nth-child(1) {
  margin-left: 0;
}

.info__item-wrapper {
  position: absolute;
  width: 255px;
  text-align: center;
}

.info__item-img {
  position: absolute;
  top: 72px;
  left: 89px;
}

.info__item-title {
  padding-top: 200px;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  color: #fefcf7;
}

.info__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #fefcf7;
}

/* service section style  */

.service-section {
  margin-bottom: 200px;
}

.service__wrapper {
  width: 1045px;
  margin-left: 85px;
}

.service__title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 95px;

  color: #83888f;
}

.service__span-wrapper {
  width: 760px;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdd6ba;
}

.service__span-wrapper span {
  background: #fefcf7;
  border: 2px solid #0e8784;
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.service__list {
  display: flex;
  align-items: center;
  margin-top: 82px;
}

.service__item {
  width: 285px;
  margin-left: 95px;
}

.service__item:nth-child(1) {
  margin-left: 0;
}

.service__strong {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.service__item-title-wrapper {
  width: 200px;
  margin-top: 38px;
  margin-bottom: 42px;
}

.service__item-title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;

  color: #333d4b;
}

.service__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 64px;
  color: #333d4b;
}

.service__link {
  font-family: "Fraunces 9", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  padding: 15px 31px;
  background: #0e8784;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.4s ease;

  color: #fefcf7;
}

.service__link:hover {
  background: #66d2cf;
}

.service__link:active {
  background: #e2dedb;
}

/* site footer style  */

.site-footer {
  background-color: #2c343e;
  padding: 47px 0;
}

.footer__wrapper {
  width: 1070px;
  margin-left: 85px;
  display: flex;
  align-items: center;
}

.footer__logo-img {
  display: flex;
}

.footer__list {
  display: flex;
  align-items: center;
  margin-left: 103px;
}

.footer__item + .footer__item {
  margin-left: 33px;
}

.footer__item-link {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888f;
}

.footer__item-link:hover {
  color: #fefcf7;
}

.footer__icon-list {
  display: flex;
  align-items: center;
  margin-left: 326px;
}

.footer__icon-item + .footer__icon-item {
  margin-left: 24px;
}

.footer__icon-svg:hover path {
  fill: #fdd6ba;
}

/* ABOUT HTML STYLE  */

/* about hero style  */

.about__hero-wrapper {
  background-image: url("../img/about-hero-bi.png");
  background-repeat: no-repeat;
}

.feature-section {
  padding-top: 52px;
  padding-bottom: 168px;
}

.feature__wrapper {
  width: 1110px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: 85px;
}

.feature__title-wrapper {
  width: 539px;
  margin-left: 125px;
}

.feature__title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
  color: #333d4b;
}

.feature__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #333d4b;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.quality-section {
  padding-bottom: 168px;
}

.quality__wrapper {
  position: relative;
  width: 1280px;
  display: flex;
  align-items: center;
  background-color: #2c343e;
  border-radius: 10px;
  padding: 88px 85px;
  margin-top: 90px;
}

.quality__title-wrapper {
  width: 540px;
  padding-bottom: 93px;
}

.quality__title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;

  color: #fefcf7;
}

.quality__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #fefcf7;

  opacity: 0.8;
}

.quality__img {
  position: absolute;
  margin-left: 125px;
  right: 85px;
  bottom: 94px;
}

/* export section style  */

.export-section {
  margin-bottom: 168px;
}

.export__wrapper {
  width: 1045px;
  margin-left: 85px;
}

.export__title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 72px;

  color: #83888f;
}

.export__list {
  display: flex;
  align-items: center;
}

.export__item {
  width: 271px;
  margin-left: 108px;
}

.export__item:nth-child(1) {
  margin-left: 0;
}

.export__item-img {
  display: flex;
  margin-bottom: 44px;
}

.export__item-title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 24px;

  color: #333d4b;
}

.export__item-text-wrapper {
  width: 140px;
}

.export__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #333d4b;
}

/* CREATE HTML STYLE  */

.create-hero__wrapper {
  background-image: url("../img/create-hero-bi.png");
  background-repeat: no-repeat;
  padding-bottom: 165px;
}

.number__wrapper {
  background: #2c343e;
  border-radius: 10px;
  width: 1280px;
  height: 653px;
  padding: 128px 0 90px 85px;
}

.number--title {
  color: #fefcf7;
}

.number--text {
  color: #fefcf7;
}

/* coffee section style  */

.coffee-section {
  margin-top: 168px;
}

.coffee__wrapper {
  width: 1227px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.coffee__list {
  width: 255px;
  margin-left: 85px;
}

.coffee__item {
  margin-bottom: 49px;
}

.coffee__item-link {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;

  color: #333d4b;
}

.coffee_item-span {
  color: #83888f;
  margin-right: 28px;
}

.coffee__item-line {
  margin-top: 24px;
  background-color: #83888f;
  opacity: 0.25;
}

.coffee__item-link:hover {
  opacity: 0.7;
}

.coffee__list-type {
  width: 730px;
  margin-left: 157px;
}

.taste__item {
  width: 730px;
}

.taste__item-title {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 56px;

  color: #83888f;
}

.taste__list {
  width: 730px;
  display: flex;
  align-items: center;
  margin-bottom: 88px;
}

.taste__item-inner {
  width: 229px;
  background-color: #f4f1eb;
  margin-left: 23px;
}

.taste__item-inner:nth-child(1) {
  margin-left: 0;
}

.taste__item-link {
  display: inline-block;
  padding: 32px 26px 84px 28px;
  border-radius: 8px;
}

.taste__item-link:hover {
  background-color: #fdd6ba;
  border-radius: 8px;
}

.taste__item-link:active {
  background-color: #0e8784;
  border-radius: 8px;
}

.taste__item-subtitle {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;

  color: #333d4b;
}

.taste__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #333d4b;
}

.coffee__end-wrapper {
  width: 731px;
  justify-content: end;
  margin-left: 500px;
  margin-bottom: 168px;
}

.coffee__end-text-wrapper {
  width: 730px;
  background-color: #2c343e;
  border-radius: 10px;
  padding: 31px 64px 27px 64px;
}

.coffee_end-small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;

  color: #ffffff;

  opacity: 0.5;
}

.coffee__end-text {
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  margin-top: 8px;

  color: #ffffff;
}

.coffee__end-span {
  color: #0e8784;
}

.coffee__end-link {
  display: inline-block;
  font-family: "Fraunces", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  padding: 16px 35px;
  background: #0e8784;
  border-radius: 6px;
  margin-top: 40px;
  margin-left: 514px;

  color: #fefcf7;
}

.coffee__end-link:hover {
  background: #66d2cf;
}

.coffee__end-link:active {
  background: #e2dedb;
}
